<!DOCTYPE html>
<html>
  <head>
    <title>Gyro Data Visualization</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <div style="width: 60%; margin: 0 auto">
      <canvas id="gyroChart"></canvas>
    </div>
    <script>
      var ctx = document.getElementById("gyroChart").getContext("2d");
      var gyroChart = new Chart(ctx, {
        type: "line",
        data: {
          labels: [],
          datasets: [
            {
              label: "X-axis",
              borderColor: "blue",
              data: [],
              fill: false,
            },
            {
              label: "Y-axis",
              borderColor: "red",
              data: [],
              fill: false,
            },
            {
              label: "Z-axis",
              borderColor: "green",
              data: [],
              fill: false,
            },
          ],
        },
        options: {
          responsive: true,
          title: {
            display: true,
            text: "Gyro Data",
          },
          scales: {
            xAxes: [
              {
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: "Sample Num",
                },
              },
            ],
            yAxes: [
              {
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: "Gyro",
                },
              },
            ],
          },
        },
      });

      function fetchData() {
        fetch("/data")
          .then((response) => response.json())
          .then((data) => {
            // 检查新数据并添加到图表
            updateChartData(gyroChart, data.s, data.x, data.y, data.z);
            gyroChart.update();
          });
      }

      function updateChartData(chart, labels, xData, yData, zData) {
        labels.forEach((label, index) => {
          if (!chart.data.labels.includes(label)) {
            chart.data.labels.push(label);
            chart.data.datasets[0].data.push(xData[index]);
            chart.data.datasets[1].data.push(yData[index]);
            chart.data.datasets[2].data.push(zData[index]);
          }
        });
      }

      setInterval(fetchData, 2000); // 每2秒更新数据
    </script>
  </body>
</html>
